# ------------------------------------------------------------
#
#==--  centralized.host
#
server {
	listen 80;
	listen 443 ssl http2;
	listen [::]:80;
	listen [::]:443 ssl http2;
	server_name centralized.host;
	if ($scheme != "https") {
		return 301 https://$host$request_uri; # Force request-upgrade from HTTP(80) to HTTPS(443)
	}
	ssl_certificate "/etc/letsencrypt/live/centralized.host/fullchain.pem";
	ssl_certificate_key "/etc/letsencrypt/live/centralized.host/privkey.pem";
	ssl_trusted_certificate "/etc/letsencrypt/live/centralized.host/chain.pem";
	location / {
		return 302 https://github.com/mcavallo-git/Coding; # Redirect to github
	}
	include "/etc/nginx/nginx_error_locations.conf";
}


# ------------------------------------------------------------
#
#==--  www.centralized.host
#
server {
	listen 80;
	listen 443 ssl http2;
	listen [::]:80;
	listen [::]:443 ssl http2;
	server_name www.centralized.host;
	if ($scheme != "https") {
		return 301 https://$host$request_uri; # Force request-upgrade from HTTP(80) to HTTPS(443)
	}
	ssl_certificate "/etc/letsencrypt/live/centralized.host/fullchain.pem";
	ssl_certificate_key "/etc/letsencrypt/live/centralized.host/privkey.pem";
	ssl_trusted_certificate "/etc/letsencrypt/live/centralized.host/chain.pem";
	location / {
		return 302 https://github.com/mcavallo-git/Coding; # Redirect to github
	}
	include "/etc/nginx/nginx_error_locations.conf";
}


# ------------------------------------------------------------
#
#==--  git.centralized.host
#
server {
	listen 80;
	listen 443 ssl http2;
	listen [::]:80;
	listen [::]:443 ssl http2;
	server_name git.centralized.host;
	if ($scheme != "https") {
		return 301 https://$host$request_uri; # Force request-upgrade from HTTP(80) to HTTPS(443)
	}
	ssl_certificate "/etc/letsencrypt/live/centralized.host/fullchain.pem";
	ssl_certificate_key "/etc/letsencrypt/live/centralized.host/privkey.pem";
	ssl_trusted_certificate "/etc/letsencrypt/live/centralized.host/chain.pem";
	location / {
		return 302 https://bitbucket.org/%7B266b630f-8096-4ed2-8828-364b067bbf37%7D/; # Redirect to BitBucket
	}
	include "/etc/nginx/nginx_error_locations.conf";
}


# ------------------------------------------------------------
### Enable nginx host
#
# DN="centralized.host"; NG="/etc/nginx/sites-available/${DN}.nginx"; echo "" > ${NG}; vi ${NG}; ln -sf ${NG} /etc/nginx/sites-enabled/${DN}; reload_nginx;
#
# ------------------------------------------------------------
### Create LetsEncrypt Certs
#
# DN="centralized.host";
# certbot --nginx \
# -d ${DN} \
# -d git.${DN} \
# -d www.${DN} \
# ;
#
# ------------------------------------------------------------
###	Debug -> ensure nginx is routing as-intended
#
# http://centralized.host
# http://git.centralized.host
# http://www.centralized.host
#
# https://centralized.host
# https://git.centralized.host
# https://www.centralized.host
#
# ------------------------------------------------------------
### Remove Domain & Cert
###   |--> Deletes NGINX Files & Symlinks
###   |--> Deletes LetsEncrypt Files
###   |--> Revokes Certificate thru LetsEncrypt (Invalidates the certificate on the Certificate-Authority's end)
#
# FQDN="centralized.host"; certbot revoke --cert-path "/etc/letsencrypt/live/${FQDN}/fullchain.pem"; certbot delete --cert-name "${FQDN}"; find "/etc/letsencrypt/" -name "*${FQDN}*"; unlink "/etc/nginx/sites-enabled/${FQDN}";
#
# ------------------------------------------------------------