# ------------------------------------------------------------
#
#==--  mcavallo.com
#
server {
	listen 80;
	listen 443 ssl http2;
	listen [::]:80;
	listen [::]:443 ssl http2;
	server_name mcavallo.com;
	if ($scheme != "https") {
		return 301 https://$host$request_uri; # Force request-upgrade from HTTP(80) to HTTPS(443)
	}
	ssl_certificate "/etc/letsencrypt/live/mcavallo.com/fullchain.pem";
	ssl_certificate_key "/etc/letsencrypt/live/mcavallo.com/privkey.pem";
	ssl_trusted_certificate "/etc/letsencrypt/live/mcavallo.com/chain.pem";
	location / {
		# return 302 https://github.com/login?return_to=%2Fmcavallo-git%2Frepositories; # GitHub + Login
		# return 302 https://github.com/mcavallo-git; # GitHub
		return 302 https://linkedin.com/in/matt-cavallo; # LinkedIn
	}
	include "/etc/nginx/nginx_error_locations.conf";
}


# ------------------------------------------------------------
#
#==--  cashapp.mcavallo.com
#
server {
	listen 80;
	listen 443 ssl http2;
	listen [::]:80;
	listen [::]:443 ssl http2;
	server_name cashapp.mcavallo.com;
	if ($scheme != "https") {
		return 301 https://$host$request_uri; # Force request-upgrade from HTTP(80) to HTTPS(443)
	}
	ssl_certificate "/etc/letsencrypt/live/mcavallo.com/fullchain.pem";
	ssl_certificate_key "/etc/letsencrypt/live/mcavallo.com/privkey.pem";
	ssl_trusted_certificate "/etc/letsencrypt/live/mcavallo.com/chain.pem";
	location / {
		return 302 https://cash.me/mcavallo;
	}
	include "/etc/nginx/nginx_error_locations.conf";
}


# ------------------------------------------------------------
#
#==--  cv.mcavallo.com
#
server {
	listen 80;
	listen 443 ssl http2;
	listen [::]:80;
	listen [::]:443 ssl http2;
	server_name cv.mcavallo.com;
	if ($scheme != "https") {
		return 301 https://$host$request_uri; # Force request-upgrade from HTTP(80) to HTTPS(443)
	}
	ssl_certificate "/etc/letsencrypt/live/mcavallo.com/fullchain.pem";
	ssl_certificate_key "/etc/letsencrypt/live/mcavallo.com/privkey.pem";
	ssl_trusted_certificate "/etc/letsencrypt/live/mcavallo.com/chain.pem";
	root /var/www/html/wordpress; # webroot
	index index.php;
	location / {
		try_files $uri $uri/ /index.php?$args;
	}
	location ~* \.php$ { #  *.php requests
		try_files $uri $uri/ /index.php?$args;
		fastcgi_read_timeout 120;
		fastcgi_index   index.php;
		include         fastcgi_params;
		fastcgi_param   SCRIPT_FILENAME    $document_root$fastcgi_script_name;
		fastcgi_param   SCRIPT_NAME        $fastcgi_script_name;
		fastcgi_pass    unix:/run/php/php7.2-fpm.sock;
	}
	include "/etc/nginx/nginx_error_locations.conf";
}


# ------------------------------------------------------------
#
#==--  git.mcavallo.com
#
server {
	listen 80;
	listen 443 ssl http2;
	listen [::]:80;
	listen [::]:443 ssl http2;
	server_name git.mcavallo.com;
	if ($scheme != "https") {
		return 301 https://$host$request_uri; # Force request-upgrade from HTTP(80) to HTTPS(443)
	}
	ssl_certificate "/etc/letsencrypt/live/mcavallo.com/fullchain.pem";
	ssl_certificate_key "/etc/letsencrypt/live/mcavallo.com/privkey.pem";
	ssl_trusted_certificate "/etc/letsencrypt/live/mcavallo.com/chain.pem";
	location / {
		# return 302 https://github.com/login?return_to=%2Fmcavallo-git%2Frepositories; # GitHub + Login
		return 302 https://github.com/mcavallo-git/Coding; # GitHub
	}
	include "/etc/nginx/nginx_error_locations.conf";
}


# ------------------------------------------------------------
#
#==--  linkedin.mcavallo.com
#
server {
	listen 80;
	listen 443 ssl http2;
	listen [::]:80;
	listen [::]:443 ssl http2;
	server_name linkedin.mcavallo.com;
	if ($scheme != "https") {
		return 301 https://$host$request_uri; # Force request-upgrade from HTTP(80) to HTTPS(443)
	}
	ssl_certificate "/etc/letsencrypt/live/mcavallo.com/fullchain.pem";
	ssl_certificate_key "/etc/letsencrypt/live/mcavallo.com/privkey.pem";
	ssl_trusted_certificate "/etc/letsencrypt/live/mcavallo.com/chain.pem";
	location / {
		return 302 https://linkedin.com/in/matt-cavallo; # LinkedIn
	}
	include "/etc/nginx/nginx_error_locations.conf";
}


# ------------------------------------------------------------
#
#==--  linux.mcavallo.com
#
server {
	listen 80;
	listen 443 ssl http2;
	listen [::]:80;
	listen [::]:443 ssl http2;
	server_name linux.mcavallo.com;
	if ($scheme != "https") {
		return 301 https://$host$request_uri; # Force request-upgrade from HTTP(80) to HTTPS(443)
	}
	ssl_certificate "/etc/letsencrypt/live/mcavallo.com/fullchain.pem";
	ssl_certificate_key "/etc/letsencrypt/live/mcavallo.com/privkey.pem";
	ssl_trusted_certificate "/etc/letsencrypt/live/mcavallo.com/chain.pem";
	location / {
		return 302 https://github.com/mcavallo-git/cloud-infrastructure#sync_cloud_infrastructure; # GitHub
	}
	include "/etc/nginx/nginx_error_locations.conf";
}


# ------------------------------------------------------------
#
#==--  paypal.mcavallo.com
#
server {
	listen 80;
	listen 443 ssl http2;
	listen [::]:80;
	listen [::]:443 ssl http2;
	server_name paypal.mcavallo.com;
	if ($scheme != "https") {
		return 301 https://$host$request_uri; # Force request-upgrade from HTTP(80) to HTTPS(443)
	}
	ssl_certificate "/etc/letsencrypt/live/mcavallo.com/fullchain.pem";
	ssl_certificate_key "/etc/letsencrypt/live/mcavallo.com/privkey.pem";
	ssl_trusted_certificate "/etc/letsencrypt/live/mcavallo.com/chain.pem";
	location / {
		return 302 https://www.paypal.me/cavalol; # Note: https://paypal.me/cavalol/25 will request $25
	}
	include "/etc/nginx/nginx_error_locations.conf";
}


# ------------------------------------------------------------
#
#==--  resume.mcavallo.com
#
server {
	listen 80;
	listen 443 ssl http2;
	listen [::]:80;
	listen [::]:443 ssl http2;
	server_name resume.mcavallo.com;
	if ($scheme != "https") {
		return 301 https://$host$request_uri; # Force request-upgrade from HTTP(80) to HTTPS(443)
	}
	ssl_certificate "/etc/letsencrypt/live/mcavallo.com/fullchain.pem";
	ssl_certificate_key "/etc/letsencrypt/live/mcavallo.com/privkey.pem";
	ssl_trusted_certificate "/etc/letsencrypt/live/mcavallo.com/chain.pem";
	location / {
		return 302 https://cv.mcavallo.com;
	}
	include "/etc/nginx/nginx_error_locations.conf";
}


# ------------------------------------------------------------
#
#==--  sync.mcavallo.com
#
server {
	listen 80;
	listen 443 ssl http2;
	listen [::]:80;
	listen [::]:443 ssl http2;
	server_name sync.mcavallo.com;
	if ($scheme != "https") {
		return 301 https://$host$request_uri; # Force request-upgrade from HTTP(80) to HTTPS(443)
	}
	ssl_certificate "/etc/letsencrypt/live/mcavallo.com/fullchain.pem";
	ssl_certificate_key "/etc/letsencrypt/live/mcavallo.com/privkey.pem";
	ssl_trusted_certificate "/etc/letsencrypt/live/mcavallo.com/chain.pem";
	location / {
		return 302 https://raw.githubusercontent.com/mcavallo-git/cloud-infrastructure/master/sync.sh;
	}
	location /sh {
		# proxy_pass https://raw.githubusercontent.com/mcavallo-git/cloud-infrastructure/master/sync.sh;
		return 200 'wget "https://raw.githubusercontent.com/mcavallo-git/cloud-infrastructure/master/usr/local/sbin/sync_cloud_infrastructure" -O "/usr/local/sbin/sync_cloud_infrastructure" -q && chmod 0755 "/usr/local/sbin/sync_cloud_infrastructure" && /usr/local/sbin/sync_cloud_infrastructure --all;';
		add_header Content-Type text/plain;
	}
	location /ps {
		# proxy_pass https://raw.githubusercontent.com/mcavallo-git/Coding/master/sync.ps1;
		return 200 'Set-ExecutionPolicy "RemoteSigned"; Write-Host "Task - Sync local git repository to origin `"https://github.com/mcavallo-git/Coding.git`"..." -ForegroundColor Green; If (Test-Path "~/Coding") { Set-Location "~/Coding"; git reset --hard "origin/master"; git pull; } Else { Set-Location "~"; git clone "https://github.com/mcavallo-git/Coding.git"; } . "~/Coding/powershell/_WindowsPowerShell/Modules/ImportModules.ps1"; Write-Host "`nPass - PowerShell Modules Synchronized`n" -ForegroundColor Cyan; Start-Sleep 15;';
		add_header Content-Type text/plain;
		# Start-Process PowerShell.exe $(New-Object Net.WebClient).DownloadString('https://sync.mcavallo.com/ps') -Verb RunAs;
	}
	include "/etc/nginx/nginx_error_locations.conf";
}


# ------------------------------------------------------------
#
#==--  venmo.mcavallo.com
#
server {
	listen 80;
	listen 443 ssl http2;
	listen [::]:80;
	listen [::]:443 ssl http2;
	server_name venmo.mcavallo.com;
	if ($scheme != "https") {
		return 301 https://$host$request_uri; # Force request-upgrade from HTTP(80) to HTTPS(443)
	}
	ssl_certificate "/etc/letsencrypt/live/mcavallo.com/fullchain.pem";
	ssl_certificate_key "/etc/letsencrypt/live/mcavallo.com/privkey.pem";
	ssl_trusted_certificate "/etc/letsencrypt/live/mcavallo.com/chain.pem";
	location / {
		return 302 https://venmo.com/cavalol;
	}
	include "/etc/nginx/nginx_error_locations.conf";
}


# ------------------------------------------------------------
#
#==--  windows.mcavallo.com
#
server {
	listen 80;
	listen 443 ssl http2;
	listen [::]:80;
	listen [::]:443 ssl http2;
	server_name windows.mcavallo.com;
	if ($scheme != "https") {
		return 301 https://$host$request_uri; # Force request-upgrade from HTTP(80) to HTTPS(443)
	}
	ssl_certificate "/etc/letsencrypt/live/mcavallo.com/fullchain.pem";
	ssl_certificate_key "/etc/letsencrypt/live/mcavallo.com/privkey.pem";
	ssl_trusted_certificate "/etc/letsencrypt/live/mcavallo.com/chain.pem";
	location / {
		return 302 https://github.com/mcavallo-git/Coding/tree/master/windows#workstation-installs;
	}
	include "/etc/nginx/nginx_error_locations.conf";
}


# ------------------------------------------------------------
#
#==--  www.mcavallo.com
#
server {
	listen 80;
	listen 443 ssl http2;
	listen [::]:80;
	listen [::]:443 ssl http2;
	server_name www.mcavallo.com;
	if ($scheme != "https") {
		return 301 https://$host$request_uri; # Force request-upgrade from HTTP(80) to HTTPS(443)
	}
	ssl_certificate "/etc/letsencrypt/live/mcavallo.com/fullchain.pem";
	ssl_certificate_key "/etc/letsencrypt/live/mcavallo.com/privkey.pem";
	ssl_trusted_certificate "/etc/letsencrypt/live/mcavallo.com/chain.pem";
	location / {
		return 302 https://mcavallo.com; # Remove subdomain
	}
	include "/etc/nginx/nginx_error_locations.conf";
}


# ------------------------------------------------------------
### Enable nginx host
#
# DN="mcavallo.com"; NG="/etc/nginx/sites-available/${DN}.nginx"; echo "" > ${NG}; vi ${NG}; ln -sf ${NG} /etc/nginx/sites-enabled/${DN}; reload_nginx;
#
# ------------------------------------------------------------
### Create LetsEncrypt Certs
#
# DN="mcavallo.com"; \
# certbot --nginx \
# -d ${DN} \
# -d cashapp.${DN} \
# -d cv.${DN} \
# -d git.${DN} \
# -d linkedin.${DN} \
# -d linux.${DN} \
# -d paypal.${DN} \
# -d resume.${DN} \
# -d sync.${DN} \
# -d venmo.${DN} \
# -d windows.${DN} \
# -d www.${DN} \
# ;
#
# ------------------------------------------------------------
### Rebuild NGINX host (to undo any changes certbot made)
#
# DN="mcavallo.com"; NG="/etc/nginx/sites-available/${DN}.nginx"; echo "" > ${NG}; vi ${NG}; ln -sf ${NG} /etc/nginx/sites-enabled/${DN}; reload_nginx;
#
# ------------------------------------------------------------
###	Debug -> ensure nginx is routing as-intended
#
# http://mcavallo.com
# http://cashapp.mcavallo.com
# http://cv.mcavallo.com
# http://git.mcavallo.com
# http://linkedin.mcavallo.com
# http://linux.mcavallo.com
# http://paypal.mcavallo.com
# http://resume.mcavallo.com
# http://venmo.mcavallo.com
# http://windows.mcavallo.com
# http://www.mcavallo.com
#
# https://mcavallo.com
# https://cashapp.mcavallo.com
# https://cv.mcavallo.com
# https://git.mcavallo.com
# https://linkedin.mcavallo.com
# https://linux.mcavallo.com
# https://paypal.mcavallo.com
# https://resume.mcavallo.com
# https://venmo.mcavallo.com
# https://windows.mcavallo.com
# https://www.mcavallo.com
#
# ------------------------------------------------------------
### Remove Domain & Cert
###   |--> Deletes NGINX Files & Symlinks
###   |--> Deletes LetsEncrypt Files
###   |--> Revokes Certificate thru LetsEncrypt (Invalidates the certificate on the Certificate-Authority's end)
#
# FQDN="mcavallo.com"; certbot revoke --cert-path "/etc/letsencrypt/live/${FQDN}/fullchain.pem"; certbot delete --cert-name "${FQDN}"; find "/etc/letsencrypt/" -name "*${FQDN}*"; unlink "/etc/nginx/sites-enabled/${FQDN}";
#
# ------------------------------------------------------------

# Citation(s)
#
#   serverfault.com  |  "Reply with 200 from Nginx config without serving a file"  |  https://serverfault.com/a/491817
#
# ------------------------------------------------------------