@font-face
{
  font-family: Rajdhani;
  src: url('/var/www/error/css/Rajdhani.woff2') format('woff2');
}

@font-face
{
  font-family: AlegreyaSansSC;
  src: url('/var/www/error/css/AlegreyaSansSC.woff2') format('woff2');
}

@supports not (-webkit-overflow-scrolling: touch)
{
  /* CSS for non-iOS devices */
  body
  {
    position: fixed;
    z-index:0;
    top:0%;
    left:0%;
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    height: 100vh;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background: #333333;
    background-color: #333333;
    opacity:1;
    margin: 0px 0px 0px 0px !important;
    padding: 0px 0px 0px 0px !important;
    border:0;
    border-style:none;
  }
  body:after
  {
    content: '';
    position: absolute;
    z-index:10;
    bottom: 4vmin;
    right: 4vmin;
    height: 10vmin;
    min-height: 10vmin;
    max-height: 10vmin;
    width: 10vmin;
    min-width: 10vmin;
    max-width: 10vmin;
    background-image: url('/var/www/error/css/brand-logo.png');
    background-size: contain;
    background-attachment: scroll;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity:0.19;
  }
  .msg
  {
    position: fixed;
    z-index: 10;
    display: block;
    color: #55F0C9; /* color: #06FA05; */ /* color:white; */
    top: 5vmin;
    left: 5vmin;
    text-transform: lowercase;
    font-family: 'AlegreyaSansSC', 'Rajdhani', 'sans-serif';
    height: 20vh;
    max-height: 20vh;
    width: auto;
    /* text-shadow: 0px 3px 3px #000000, 3px 0px 3px #000000,0px -3px 3px #000000,-3px 0px 3px #000000; */
  }
  .gif
  {
    position: fixed;
    top:0%;
    left:0%;
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    height: 100vh;
    min-height:100vh;
    max-height: 100vh;
    background: #222222;
    background-color: #222222;
    /* background-image: url('/var/www/error/css/error_animation_once.gif'); */
    /* background-size: contain; */
    /* background-attachment: scroll; */
    /* background-position: 50% 50%; */
    /* background-repeat: no-repeat; */
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    -o-filter: blur(5px);
    filter: blur(5px);
    opacity:0.1;
  }
  .jpg
  {
    position: fixed;
    top:0%;
    left:0%;
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    height: 100vh;
    min-height:100vh;
    max-height: 100vh;
    background: #222222;
    background-color:  #222222;
    /* background-image: url('/var/www/error/css/f4109k-27.jpg'); */
    /* background-size: cover; */
    /* background-attachment: scroll; */
    /* background-position: 50% 50%; */
    /* background-repeat: no-repeat; */
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    -o-filter: blur(10px);
    filter: blur(10px);
  }
  .jpg:after
  {
    content:'';
    position: absolute;
    z-index: 1;
    top: 0%;
    left: 0%;
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    background: #000000;
    background-color: #000000;
    background-size: cover;
    background-attachment: scroll;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0.5;
  }
}

/* ---------------------------------------------------------------------------------------------------------------------- */
@supports (-webkit-overflow-scrolling: touch)
{
  /* iOS devices */

  body
  {
    position: fixed;
    z-index:0;
    top:0%;
    left:0%;
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    height: 100vh;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background: #333333;
    background-color: #333333;
    opacity:1;
    margin: 0px 0px 0px 0px !important;
    padding: 0px 0px 0px 0px !important;
    border:0;
    border-style:none;
  }
  /* Portrait-mode iOS Devices */
  @media screen and (orientation:portrait)
  {
    body:after {
      content: '';
      position: absolute;
      z-index:10;
      bottom: 15%;
      right: 10%;
      height: 7%;
      min-height: 7%;
      width: 7%;
      min-width: 7%;
      background-image: url('/var/www/error/css/brand-logo.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      opacity:0.19;
    }
  }
  /* Landscape-mode iOS Devices */
  @media screen and (orientation:landscape)
  {
    body:after {
      content: '';
      position: absolute;
      z-index:10;
      bottom: 15%;
      right: 5%;
      height: 10%;
      min-height: 10%;
      width: 10%;
      min-width: 10%;
      background-image: url('/var/www/error/css/brand-logo.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      opacity:0.19;
    }
  }
  .msg
  {
    position: fixed;
    z-index: 10;
    display: block;
    color: #55F0C9; /* color: #06FA05; */ /* color:white; */
    top: 5%;
    left: 5%;
    text-transform: lowercase;
    font-family: 'AlegreyaSansSC', 'Rajdhani', 'sans-serif';
    height: 20%;
    max-height: 20%;
    width: auto;
    /* text-shadow: 0px 3px 3px #000000, 3px 0px 3px #000000,0px -3px 3px #000000,-3px 0px 3px #000000; */
  }
  .gif
  {
    position: fixed;
    top:0%;
    left:0%;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    min-height:100%;
    max-height: 100%;
    background: #222222;
    background-color:  #222222;
    /* background-image: url('/var/www/error/css/error_animation_once.gif'); */
    /* background-size: contain; */
    /* background-attachment: scroll; */
    /* background-position: 50% 50%; */
    /* background-repeat: no-repeat; */
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    -o-filter: blur(5px);
    filter: blur(5px);
    opacity:0.1;
  }
  .jpg
  {
    position: fixed;
    top:0%;
    left:0%;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    min-height:100%;
    max-height: 100%;
    background: #222222;
    background-color:  #222222;
    /* background-image: url('/var/www/error/css/f4109k-27.jpg'); */
    /* background-size: cover; */
    /* background-attachment: scroll; */
    /* background-position: 50% 50%; */
    /* background-repeat: no-repeat; */
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    -o-filter: blur(10px);
    filter: blur(10px);
  }
  .jpg:after
  {
    content:'';
    position: absolute;
    z-index: 1;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    background: #000000;
    background-color: #000000;
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    opacity: 0.5;
  }
}

body div.msg > div.lrg
{
  font-size:7vmin;
  text-align:left;
}

body div.msg > div.lrg > span {
  font-family: 'Rajdhani', 'sans-serif' !important;
  font-size: 5.4vmin !important;
  font-weight:700;
}

body div.msg > div.sml
{
  font-size:4vmin;
  text-align:right;
}

.woven
{
  position: relative;
  /* z-index:10; */
  top:0%;
  left:0%;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  min-height:100%;
  max-height: 100%;
  /*
  background: 
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1B1B1B 10px, transparent 10px),
    linear-gradient(#1D1D1D 25%, #1A1A1A 25%, #1A1A1A 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  */
  background-color: rgba(17,17,17,0.85);
  background-size: 20px 20px;
}

.woven:before
{
  content: '';
  position: absolute;
  z-index:1;
  top:0%;
  left:0%;
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
  height: 100vh;
  min-height:100vh;
  max-height: 100vh;
  background: #222222;
  background-color:  #222222;
  /* background-image: url('/var/www/error/css/f4109k-27.jpg'); */
  /* background-size: cover; */
  /* background-attachment: scroll; */
  /* background-position: 50% 50%; */
  /* background-repeat: no-repeat; */
  -webkit-filter: blur(5px) grayscale(100%);
  -moz-filter: blur(5px) grayscale(100%);
  -ms-filter: blur(5px) grayscale(100%);
  -o-filter: blur(5px) grayscale(100%);
  filter: blur(5px) grayscale(100%);
  opacity: 0.1;
  /* opacity: 1; */
  filter: blur(5px) grayscale(100%);
}

.blackout
{
  position: fixed;
  top:0%;
  left:0%;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  min-height:100%;
  max-height: 100%;
  background: linear-gradient(60deg, #141414, #020202 20%, #000000);
  background-color: #131313;
  background-size: 20px 20px;
}

.nopad,
{
  margin: 0px 0px 0px 0px !important;
  padding: 0px 0px 0px 0px !important;
  border:0;
  border-style:none;
}