$include /etc/inputrc

set bell-style none


# ------------------------------------------------------------
#
# Citation(s)
#
#   stackoverflow.com  |  "bash - Disable beep in WSL terminal on Windows 10 - Stack Overflow"  |  https://stackoverflow.com/a/44124913
#
# ------------------------------------------------------------